[submodule "Memo_2"]
	path = Memo_2
	url = git@github.com:Joaconte/Fiuba-Memo_2.git
[submodule "Memo_1"]
	path = Memo_1
	url = git@github.com:Joaconte/Fiuba-Memo_1.git
[submodule "Algo_3"]
	path = Algo_3
	url = https://github.com/Joaconte/Fiuba-Algo_3
[submodule "Algo_2"]
	path = Algo_2
	url = git@github.com:Joaconte/Fiuba-Algo_2.git
